# Crawler autologin into ITVIEC
ITVIEC_USERNAME=
ITVIEC_PASSWORD=

# MinIO
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Supabase
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DATABASE=
SUPABASE_USER=
SUPABASE_PASSWORD=
