# Crawler autologin into ITVIEC
ITVIEC_USERNAME=
ITVIEC_PASSWORD=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1

# Supabase
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DATABASE=
SUPABASE_USER=
SUPABASE_PASSWORD=

# Airflow
AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=src/orchestration_layer
FERNET_KEY=
WEBSERVER_SECRET_KEY=

_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# DockerOperator
## Điền vào đường dẫn tuyệt đối đến repo của máy bạn (ví dụ máy tôi là: C:/Downloads/Lakehouse-Lite)
HOST_REPO_PATH=

## Tên image pipeline
PIPELINE_IMAGE=lakehouse-crawler:latest

# MotherDuck
MOTHERDUCK_TOKEN=
# Optional: target database for the Gold layer (default: lakehouse)
MOTHERDUCK_DATABASE=