# Crawler autologin into ITVIEC
ITVIEC_USERNAME=
ITVIEC_PASSWORD=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-southeast-1

# Supabase
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DATABASE=
SUPABASE_USER=
SUPABASE_PASSWORD=

# Airflow
AIRFLOW_UID=50000
## Thư mục gốc chứa dags, logs, plugins
AIRFLOW_PROJ_DIR=src/orchestration_layer
## Key mã hóa bắt buộc (Tạo bằng Python: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=
WEBSERVER_SECRET_KEY=

## Đổi tài khoản mặc định (Tùy chọn)
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=password

# DockerOperator
## Điền vào đường dẫn tuyệt đối đến repo của máy bạn (ví dụ máy tôi là: C:/Downloads/Lakehouse-Lite)
HOST_REPO_PATH=
## Tên image pipeline
PIPELINE_IMAGE=lakehouse-crawler:latest